# Lamatic API Configuration
LAMATIC_API_URL=https://ragotmasorganization317-factcheckai595.lamatic.dev
LAMATIC_PROJECT_ID=31b2240c-4f92-49bd-9602-d5c48d6dd0ea
LAMATIC_FLOW_ID=e4705e2f-5405-4e00-aaf9-7e6263459012
LAMATIC_API_KEY=your_lamatic_api_key_here
